.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 250px;
  }
  img{
    margin-top: 60px;
    border-radius: 20px;
    display: flex;
    margin-left: 60px;
  }
  .right h1{
    margin-top: 5px;
    margin-left: 260px;
    text-shadow: 2px 2px 5px rgb(83, 181, 238);
  }
  .right p{
    width: 100%;
    font-size: 18px;
  }

